.App {
  text-align: center;
  width: 100%;
  display: table;
}
.ListItem{
  display: table-cell;
  width: 33%;
}
.TaskAddButton{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #12e532;
border-radius: 20px;
  font-size: 30px;
}
.Item{
    border-radius: 10px;
    position: relative;
      margin: 10px;
}
h4,h3{
  padding: 5px;
}
.TaskCloseButton{
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
}
.TaskEditButton{
    position: absolute;
    top: 20px;
    right: 0px;
    border: none;
}
.Active > div{
    background-color: #12e532;
}
.Inprogress > div{
    background-color: #e5c812;
}
.Complited > div{
    background-color: #7a5d5d;
}
button{
    background-color: transparent;
}
